@import './fonts.css';
@import './variables.css';

body {
  font-family: var(--font-sans);
  background-color: var(--body-bg-color);
  color: var(--body-font-color);
  padding: 1em;
  margin: 0;
}

.screen-reader-text {
  display: none;
}

a {
  color: var(--anchor-font-color);
  transition: color 0.3s ease;
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
}

input, button, select {
  font-family: var(--font-sans);
}

#page {
  @media (--medium) {
    margin-bottom: 2em;
  }

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
