@import './fonts.css';
@import './variables.css';

body {
  font-family: var(--font-sans);
  background-color: var(--body-bg-color);
  color: var(--body-font-color);
  padding: 1em;
  margin: 0;
}

.screen-reader-text {
  display: none;
}

a {
  color: var(--anchor-font-color);
  transition: color 0.3s ease;
}

input, button, select {
  font-family: var(--font-sans);
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  height: 1px;
  background: var(--border-color);
}

#page {
  @apply --clearfix;
  @media (--medium) {
    margin-bottom: 2em;
  }
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
h1 { font-size: 2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
