#secondary {
  margin-bottom: 2em;

  @media (--medium) {
    margin-bottom: 0;
    float: right;
    width: 35%;
  }

  & .widget {
    & .widget-title {
      margin-bottom: 0;
    }

    & .search-form {
      &::after {
        content: "";
        display: table;
        clear: both;
      }

      & .search-field,
      & .search-submit {
        float: left;
        padding: 0.25em 0.5em;
      }

      & .search-field {
        margin-right: 0.25em;
      }
    }
  }
}
